<h1>Here you can create, view, edit or remove cars</h1>
<% if @cars.empty? %>
  There is no cars yet, please create the first one
<% else %>
  <ol>
    <% @cars.each do |c| %>
      <li>
        <%= c.model %>
        <%= link_to "details", car_path(c.id) %>
      </li>
    <% end %>
  </ol>
<% end %>
