<h1>Create, Edit or Delet cars</h1>
<% if @cars.empty? %>
  <p>There are no cars in the database.</p>
<% else %>
  <ol>
    <% @cars.each do |car| %>
      <li>
        <%= car.model %>
        <%= link_to 'details', car_path(car) %>
      </li>
    <% end %>
  </ol>
<% end %>
